*{
    margin: 0px;
    
}
.main-nav{
    background-color: black;
    color:white;
}


.nav-one{

 display: flex;
 justify-content: flex-end;
 font-size: 19px;
 
}
.navigation{
    
    padding-top: 15px;
    padding-right: 30px;
    display: flex;
    
}
.active a{
    padding-right: 20px;
    text-decoration: none;
    color: white;
    
}


.akagera{
    font-size: 46px;
}
.yel-color{
    color: darkorange;
}
.b-photo{
    background-color: darkgray;
}
img{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 1400px;
   height: 550px;
   border: 4px solid white;
}
.head{
    background-color:black;
    text-align: center;
    font-size: 30px;
    width: 100%;
}
#head{
    color: white;
    
}

.card{
    border: 2px solid gray;
}
.card-one{
    display: flex;
    background-color: rgb(0, 0, 0);
    width:330px;
}

.image img {
    width: 78%;
    height: 78%;
    border-radius: 2px;
    
    margin-left: 0px;
}

.main-content{
    display: flex;
}
.content{
    font-size: 15px;
    flex: 1;
    background-color: lightgrey;

}


.text{
    font-size: 12px;
}
#cont{
    margin-right: 100px
}
h2{
    text-decoration: underline;
    text-decoration-color: yellow;
}

a:hover { 
    background-color:orange;
 
  }
  strong{
      color:rgb(0, 235, 55);
  }
  .text{
      color: white;
  }

  .data{
      background-color: rgb(22, 20, 20);
      height: 250px;
    
  }

  .data{
      display: flex;
      justify-content:center;
     
  }

  .data p{
      color:rgb(133, 133, 133);
  }

  .data form{
    padding: 3px;
  }
  input[type='text']{
      width: 300px;
      height: 22px;
      color:rgb(133, 133, 133);

  }
  textarea{
    color:rgb(133, 133, 133);

  }


  p#cont {
    width: 700px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}
