*{
    margin: 0px;
}
.main-nav{
    background-color: black;
    color:white;
}


.nav-one{

 display: flex;
 justify-content: flex-end;
 font-size: 19px;
 
}
.navigation{
    
    padding-top: 15px;
    padding-right: 30px;
    display: flex;
    
}
.active a{
    padding-right: 20px;
    text-decoration: none;
    color: white;

}
.akagera{
    font-size: 46px;
}
.yel-color{
    color: darkorange;
}

.card-1{
    display: flex;
    border-bottom: 3px solid black;
    border-right: 20px solid black;
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-radius: 8px;

}

.top p{ 
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: gray;
    

}
.cover{
    
    background-color: rgb(190, 180, 180);
    height: 420px;
}

.cover-1{
    border: 2px solid gray;
    background-color: white;
    border-radius: 10px;
}

.page{
    display: flex
}
a:hover { 
    background-color:orange;
 
  }
 .down-part{
     margin-left: 400px;
 }

 p{
    background-color: olivedra
 }

 .page{
   
    background-color:lightgrey;
 }

 p{
     background-color: rgb(123, 167, 123);
 }



 .data{
    background-color: rgb(22, 20, 20);
    height: 250px;
  
}

.data{
    display: flex;
    justify-content:center;
   
}

.data p{
    color:rgb(133, 133, 133);
}

.data form{
  padding: 3px;
}
input[type='text']{
    width: 300px;
    height: 22px;
    color:rgb(133, 133, 133);

}
textarea{
  color:rgb(133, 133, 133);

}

